[Desktop Entry]
Type=Application
Name=zddccpl
GenericName="DDC/CI Control Panel"
Comment="Adjust picture settings on DDC/CI compatible monitors"
Icon=video-display
TryExec=zddccpl
Exec=zddccpl
Categories=Settings;HardwareSettings;Qt
Keywords=ddcutil;DDC/CI;MCCS
